/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 14px;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul{
    list-style-type: none;
}

.trattino::after{
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px solid gray;
    width: 90%;
    margin: 10px 0;
}

body{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

/* MAIN */

main {
    display: flex;
    flex-grow: 1;
    background: rgb(16,19,25);
    width: calc(100% - 227px);
    height: calc(100vh - 88px);
}


/* sidebar */

.sidebar{
    background-color: black;
    width: 227px;
    height: calc(100vh - 88px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    flex-shrink: 0;  
    overflow: auto;
    font-weight: 700;
}

.container_sidebar{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;  
    height: 100%;
}

.wrapper{
    display: flex;
    column-gap: 20px;
}

.highlight{
    border-left: 3px solid greenyellow;
    height: 35px;
}

.logo{
    min-height: 38px;
    width: 130px;
   margin: 20px 0;
   margin-left: 20px;
}

.menu{
    padding: 5px 0;
    display: flex;
    align-items: center;
    color: gray;
}

.menu img{
    width: 30px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    opacity: 0.7;
}

.menu:hover, .menu>img:hover{
    color: white;
    opacity: 1;
}
 
.active, .active img{
    color: white;
    opacity: 1;
}

.playlist{
    width: 100%;
}

.playlist h3{
    text-transform: uppercase;
    margin-top: 25px;
}

.creaplaylist{
    margin: 15px 0;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.creaplaylist i{
    font-size: 40px;
}

.playlist a{
    display: block;
    padding: 8px 0;
    font-size: 12px;
}

.playlist a:hover, .creaplaylist:hover{
    color: white;
}

.playlist{
    color: grey;
}

.playlist h3{
    color: white;
}

.trattino{
    color: grey;
}

.profile{
    margin-left: 20px;
}

.profile>div>svg{
    height: 25px;
    width: 25px;
    fill: white;
    background-color: gray;
    border-radius: 50%;
}

.profile span, .profile h3{
    padding: 5px;
}

.profile span:hover{
    color: white;
}

.john{
    display: flex;
    align-items: center;
}

/* container_main */

.container_main{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: auto;
    position: relative;
    width: calc(100% - 227px);
    height: calc(100vh - 88px);
}

.banner{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 227px);
    height: 90px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    width: 218px;
    height: 42px;
    border: 2px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.upgrade_button{
    text-transform: uppercase;
}

.upgrade:hover, .upgrade_button:hover{
    width: 228px;
    height: 52px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.musica{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

/* FOOTER */

footer{
    height: 88px;
    width: 100%;
    background-color: rgb(30,30,30);
    position: sticky;
    z-index: 100;
}

.container_footer{
    display: flex;
    justify-content: space-between;
    height: 88px;
    width: 100%;
}

.brano{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    height: 88px;
    flex-basis: 227px;
    padding-left: 20px;
}

.sinister{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.brano span:hover{
    color: white;
    text-decoration: underline;
}

.brano i:hover{
    color: white;
}

.play i:hover{
    font-size: 35px;
}

.brano i{
    color: gray;
    font-size: 18px;
    margin: 0 5px;
}

.brano img{
    height: 42px;
    width: 42px;
}

.brano div span{
    color: gray;
    font-size: 12px;
}

.player{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    height: 88px;
    align-content: center;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.icon_player{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.icon_player i{
    font-size: 18px;
}

.play{
    width: 33px;
    height: 33px;
    text-align: center;
    
}

.play i{
    font-size: 30px;
}

.timeline{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.barra{
    width: 80%;
    height: 4px;
    background-color: rgb(72,72,72);
    border-radius: 25px;
    flex-grow: 1;
}

.time{
    width: 15%;
    height: 4px;
    border-radius: 25px;
    background-color: rgb(182,182,182);
    position: relative;
}

.barra:hover .pallina{
    background-color: white;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.barra:hover .time{
    background-color: greenyellow;
}

.volume{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    width: 227px;
    height: 88px;
    padding-right: 20px;
}

.volume .barra{
    width: 60%;
}

.volume .barra .time{
    width: 20%;
}

.volume i{
    font-size: 18px;
}